.login {
display: flex;
flex-direction: column;
align-items: center;
}

.login form {
    display: flex;
    flex-direction:column;
    margin-top:50px;
    gap:30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login input {
    
    border-radius: 8px;
    width: 270px;
    padding-left: 10px;
    height: 30px;
    border-color:none;
    border-width: 1px;
    color: rgb(66, 66, 66);
      
  }


/* .login button {
    margin: auto;
    border-radius: 8px;
    width: 70px;
    height: 30px;
    background-color: #222931;
    border-color: #ffc903;
    border-width: 0.1px;
    color: white;
      
  }

  .login button:hover {
    margin: auto;
    border: none;
    width: 70px;
    height: 30px;
    color:  #ffc903;
          
  } */
