/* .container_page {

    display: flex;
    flex-direction: column;
    width: 900px;
    min-height: 300px;
    margin: auto;
    color: gainsboro;
    align-items:center;
    gap:15px;
    padding-top: 50px;
    gap:15px;
     

} */


